.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 1;
    -fx-background-radius: 8;
    -fx-background-color: #DC4545;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}
